body {
    background-color: #fff;
}

.instruction {
    margin: 1em;
    font-size: 20px
}

.note {
    font-size: 15px;
    font-style: italic;
    margin: 0.5em;
}

.no-display {
    display: none;
}

.upload-label {
    padding: 10px;
    margin: 50px;
    font-size: 15px;
    border-radius: 6px;
    border-style: solid;
    cursor: pointer;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0.7em;
    color: #262626;
}
